<div class="container">
    <form class="form-card">
        <h1><span class="icon"><i class="fas fa-building"></i></span> Cadastro de Apartamento</h1>
        <p class="subtitle">Preencha os dados do apartamento para cadastro no sistema</p>

        <h2 class="section-title">Informações Gerais</h2>

        <div class="card-input form-group">
            <input type="number" class="input" for="usuario" name="aparnum" placeholder=" " [(ngModel)]="apartamento.aparnum"/>
            <label for="apartamento">Número *</label>
        </div>
        <div class="form-group two-columns">
            <div class="card-input">
                <input type="number" class="input" for="usuario" name="andar" placeholder=" " [(ngModel)]="apartamento.andar"/>
                <label for="apartamento">Andar (Opcional)</label>
            </div>
            <div class="card-input">
                <input type="text" class="input" for="usuario" name="bloco" placeholder=" " [(ngModel)]="apartamento.bloco"/>
                <label for="apartamento">Bloco (Opcional)</label>
            </div>
        </div>
        <div class="form-group">
            <textarea id="obs" placeholder="Informações adicionais sobre o apartamento..."></textarea>
        </div>

        <div class="form-actions">
            <button type="button" class="btn-danger btn" data-mdb-ripple-init
                routerLink="/sistema/apartamento"><i class="fas fa-times-circle"></i></button>
            <button [disabled]="apartamento.aparnum == 0 || apartamento.aparnum == null" type="button"
                class="btn-info btn btn-info" data-mdb-ripple-init (click)="save()"><i
                    class="fas fa-check-circle"></i></button>
        </div>
    </form>
</div>