<div class="container">

  <h3>Listagem de Apartamentos</h3>

  <div class="card">
    <table class="tabela-apartamentos">
      <thead>
        <tr>
          <th class="th-numero">Número</th>
          <th>Andar</th>
          <th>Status</th>
          <th>Inquilino</th>
          <th>Observações</th>
          <th class="th-actions">
            <button type="button" class="btn btn-icon add-new" data-mdb-ripple-init routerLink="/sistema/apartamento/new"
                    title="Adicionar novo apartamento">
              <i class="fas fa-plus"></i></button>
          </th>
        </tr>
      </thead>
      <tbody>
        @for (apartamento of lista; track $index) {
        <tr>
          @if (apartamento.periodo === 'mensal') {
            <td class="td-numero"><b style="background-color: rgba(255, 165, 0, 0.5); padding: 4px; border-radius: 6px;">{{apartamento.aparnum}}</b></td>
          }@else if (apartamento.periodo === 'diario') {
            <td class="td-numero"><b style="background-color: rgba(89, 182, 13, 0.25); padding: 4px; border-radius: 6px;">{{apartamento.aparnum}}</b></td>
          }@else{
            <td class="td-numero"><b>{{apartamento.aparnum}}</b></td>
          }
          <td>{{apartamento.andar}}º</td>
          <td>
            @if (getStatusParaApartamento(apartamento.aparnum) === 'Livre') {
              <span class="status-badge status-livre">Livre</span>
            } @else {
              <span class="status-badge status-ocupado">Ocupado</span>
            }
          </td>
          <td class="td-inquilino">{{ getInquilinoNome(apartamento) }}</td>
          <td>
            <ng-container *ngIf="getObservacaoParaApartamento(apartamento) as obs">
              @if(obs.texto) {
                <span class="status-badge" [ngClass]="{
                  'status-vence-hoje': obs.cor === 'red',
                  'status-vence-amanha': obs.cor === '#E09D00',
                  'status-entrada-amanha': obs.cor === 'green',
                  'status-info': obs.cor === 'inherit'
                }">{{ obs.texto }}</span>
              }
            </ng-container>
          </td>
          <td class="td-actions">
            <button type="button" class="btn btn-icon btn-info-outline" title="Informações" [routerLink]="['/sistema/apartamento/', apartamento.aparnum]">
              <i class="fas fa-info-circle"></i>
            </button>
            <button type="button" class="btn btn-icon btn-danger-outline" title="Deletar apartamento" (click)="deletar(apartamento)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>


