/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/css/all.css';
@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';

.centralizar{
    text-align: center;
}

.direita{
    text-align: right;
}

body{
    background-color: #fff !important;
}

.container{
    margin-left: 250px;
    max-width: calc(100% - 250px) !important;
    height: 100vh;
    padding: 20px;
}

.form-control{
    border: 1px solid black !important;
}

.swal2-popup {
    background-color: #363030 !important;
    color: #fffefe;
    border: 2px solid white;
}


  
  