<section class="login-section">
    <div id="card-login">
        <h2 class="text-uppercase">Registro</h2>
        <p>Registre um usuário e senha:</p>
        <div class="card-input">
            <input type="text" class="input" for="usuario" placeholder=" " [(ngModel)]="register.username"/>
            <label for="apartamento">Usuário</label>
        </div>
        <div class="card-input">
            <input type="password" class="input" for="senha" placeholder=" " [(ngModel)]="register.password"/>
            <label for="apartamento">Senha</label>
        </div>
        <div class="card-input">
            <input type="password" class="input" for="senha" [(ngModel)]="confirmPassword" placeholder=" " />
            <label for="apartamento">Confirmar Senha</label>
        </div>
        <div class="card-input">
            <select class="input" [(ngModel)]="register.role" name="role">
                <option value="admin">ADMIN</option>
                <option value="gerente">GERENTE</option>
            </select>
            <label for="apartamento">Função</label>
        </div>
        
        <button id="btn" type="submit" (click)="registrar()">Registrar</button>
        <a id="voltar" href="login">Voltar</a>
    </div>
</section>