<div class="container">

    <table class="tabela">
        <h3>Listagem de Apartamentos</h3>
        <thead id="head_tabela">
            <tr>
                <th class="thnmr">Número</th>
                <th>Andar</th>
                <th>Status</th>
                <th>Observações</th>
                <th class="direita">
                    <button type="button" class="btn btn-info" data-mdb-ripple-init routerLink="/sistema/apartamento/new"
                        title="Adicionar novo apartamento"><i class="fas fa-house-flag"></i></button>
                </th>
            </tr>
        </thead>

        <tbody id="body_tabela">
            @for (apartamento of lista; track $index) {

            <tr>
                <td class="tdnmr"><b>{{apartamento.aparnum}}</b></td>
                <td><b>{{apartamento.andar}}</b></td>
                @if (apartamento.status == 'Livre') {
                <td class="tdstatus">
                    <p class="statusL">{{apartamento.status}}</p>
                </td>
                }@else{
                <td class="tdstatus">
                    <p class="statusO">{{apartamento.status}}</p>
                </td>
                }
                <td>
                    <p>(Desenvolvimento)</p>
                </td>
                <td class="direita">
                    <!--<button type="button" class="btn btn-info" data-mdb-ripple-init routerLink="/admin/apartamento/edit/{{apartamento.aparnum}}">Editar</button> -->
                    <button type="button" class="btn btn-info" title="Informações" [routerLink]="['/sistema/apartamento/', apartamento.aparnum]"><i class="fas fa-info-circle"></i></button>
                    <button type="button" class="btn btn-danger" data-mdb-ripple-init (click)="deletar(apartamento)"
                        title="Deletar apartamento"><i class="fas fa-trash-alt"></i></button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>