<div class="container">
    <table class="tabela">
        <h3>Listagem de Clientes</h3>
        <thead id="head_tabela">
            <input type="text" class="form-control" [(ngModel)]="termoPesquisa" (input)="filtrarClientes()" placeholder="Pesquisar por nome...">
            <tr>
                <th>Nome</th>
                <th>Apartamento</th>
                <th>Contrato</th>
                <th>Valor alguel</th>
                <th>Data de entrada</th>
                <div class="direita">
                    <button type="button" class="btn btn-info" title="Cadastrar Cliente" data-mdb-ripple-init routerLink="/sistema/cliente/new"><i class="fas fa-user-plus"></i></button>
                </div>
            </tr>
        </thead>

        <tbody id="body_tabela">
            @for (cliente of listaFiltradaOrdenada; track $index) {
            <tr>
                <td>{{cliente.nome}}</td>
                <!-- Apartamento ativo -->
                <td>
                    <ng-container *ngIf="getContratoAtivo(cliente) as contratoAtivo">
                        <b>{{ contratoAtivo.ap.aparnum }}</b><br>
                    </ng-container>
                </td>

                <!-- Identificador do contrato -->
                <td>
                    <ng-container *ngIf="getContratoAtivo(cliente) as contratoAtivo; else checkInexistente">
                        <b style="color: green;">{{ contratoAtivo.identificador }}</b><br>
                    </ng-container>

                    <ng-template #checkInexistente>
                        <ng-container *ngIf="cliente && cliente.contratos && cliente.contratos.length > 0; else inexistente">
                        <b style="color: red;">Inativo</b><br>
                        </ng-container>
                    </ng-template>

                    <ng-template #inexistente>
                        <b style="color: rgb(109, 109, 109);">Sem Contratos</b><br>
                    </ng-template>
                    </td>

                <!-- Valor total -->
                <td>
                    <ng-container *ngIf="getContratoAtivo(cliente) as contratoAtivo">
                    <b>R$ </b>{{ 
                        +contratoAtivo.valor_condominio + 
                        +contratoAtivo.valor_aluguel + 
                        +contratoAtivo.valor_internet + 
                        +contratoAtivo.valor_iptu 
                    }}<br>
                    </ng-container>
                </td>

                <!-- Data de entrada -->
                <td>
                    <ng-container *ngIf="getContratoAtivo(cliente) as contratoAtivo">
                    <b>{{ contratoAtivo.entrada | date: 'dd/MM/yyyy' }}</b><br>
                    </ng-container>
                </td>

                <td class="direita">
                    <button type="button" class="btn btn-info" title="Informações" [routerLink]="['/sistema/cliente/', cliente.id]"><i class="fas fa-info-circle"></i></button>
                    <button type="button" class="btn btn-danger" title="Deletar" data-mdb-ripple-init (click)="deletar(cliente)"><i class="fas fa-trash-alt"></i></button>
                </td>
            </tr>
            }

        </tbody>
    </table>
</div>