/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/css/all.css';
@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';

$font-family: 'Poppins', sans-serif;
$background-color: #f4f7fa;
$card-background: #ffffff;
$text-primary: #1e293b;
$text-secondary: #64748b;
$border-color: #e2e8f0;

$color-green: #10b981;
$color-blue: #3b82f6;
$color-red: #ef4444;

.centralizar{
    text-align: center;
}

.direita{
    text-align: right;
}

body{
    background-color: #fff !important;
}

.container{
    margin-left: 250px;
    max-width: calc(100% - 250px) !important;
    height: 100vh;
    padding: 20px;
    font-family: $font-family;
    //background-color: $background-color;
    color: $text-primary;
}

.form-control{
    border: 1px solid black !important;
}

.swal2-popup {
    background-color: #363030 !important;
    color: #fffefe;
    border: 2px solid white;
}


  
  